*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(28, 27, 27);
    color: white;

}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    color:black;
    
}
.headerContainer{
    padding: 2rem 1rem;
    margin: auto;
    background-color: rgb(142, 243, 209);
    width: 100%;
    max-width: 60rem;
    display: flex;
     flex-direction: column;
    gap: 2rem;
   
    
}
.inputContainer{

    display: flex;
    justify-content: center;
    gap: 1rem;
   
}
.itemContainer .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 187, 179, 0.739);
    padding: 10px;
    border-radius: 5px;
}
.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20px;
    gap: 1rem;
}
.itemContainer{
    display: flex;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
}
.itemContainer .item button{
    padding: 8px 12px;
    border-radius: 5px;
}

.itemContainer .item .saveBtn{
    display:none;
}

.itemContainer .item .editInput{
    display:none;
}
.editAmountInput , .editDiscription{
    display: none;
}
